:root{
    --background-color: rgb(255, 255, 244);
    --primary-color: rgb(255, 221, 0);
    --shadow-color: rgba(0, 0, 0, 0.2);
    --text-color: rgb(23, 23, 23);
    --text-light: rgb(87, 87, 87);
    --font-size: 18px;
    --animation-speed: 1;
}

@function getAnimationDuration($duration: number) {
    @return calc($duration * var(--animation-speed));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    padding-inline: 25vw;
}

.product-h1 {
    display: flex;
    justify-content: center;
    margin-block: 2em;
    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-underline-offset: .5rem;
}
.produktai-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    padding-inline: 25vw;
    
}
.product-wrapper {
    display: flex;
    flex-direction: row;
    .produktas {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
        overflow: hidden;
        .box {
            width: 400px;
            min-height: 340px;
            box-shadow: 3px 3px 5px var(--shadow-color);
            border-radius: 4px;
            padding-bottom: 10px;
            margin: 20px;
            overflow: hidden;
            .produkto-img {
                width: 400px;
                height: 400px;
                margin-bottom: 1em;                
                & img {
                    width: 100%;
                    height: 100%;
                    align-self: center;
                    object-fit: cover;
                }
            }
            .prudikto-pavdinimas {
                font-size: 1.2em;
                font-weight: bold;
                text-align: center;
                margin-bottom: .3em;
            }
            .produkto-aprasymas {
                text-align:justify;
                margin: 1em 1em;
                min-height: 150px;
            }
            .produkto-kaina {
                font-weight: bold;
                margin: 1em;
            }
        }
            
    }
}

@import "partials/about";
@import "partials/animations";
@import "partials/button";
@import "partials/carousel";
@import "partials/footer";
@import "partials/navbar";
@import "partials/sidebar";
@import "partials/quote";
@import "partials/media";
@import "partials/contacts";