:root{
    --background-color: rgb(255, 255, 244);
    --background-light: rgb(255, 255, 244);
    --primary-color: rgb(255, 221, 0);
    --shadow-color: rgba(0, 0, 0, 0.2);
    --text-color: rgb(23, 23, 23);
    --text-light: rgb(87, 87, 87);
    --font-size: 18px;
    --animation-speed: 1;
}
@function getAnimationDuration($duration: number) {
    @return calc($duration * var(--animation-speed));
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.navbar {
    height: 120px;
    box-shadow: 0 3px 6px var(--shadow-color);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
    height: 100px;
    width: 160px;
    margin: 0.8em;
    }
    .nav-links {
        a {
            margin-left: 1em;
            color: var(--text-light);
            letter-spacing: 2px;
            text-transform: uppercase;
            position: relative;
            &::before {
                content: "";
                display: inline-block;
                height: 3px;
                width: 100%;
                background-color: var(--primary-color);
                position: absolute;
                bottom: -5px;
                left:0;
                transform: scaleX(0);
                transition: transform getAnimationDuration(.2s) ease-in-out;
            }
            &:hover {
                &::before {
                    transform: scaleX(1);
                }
            }
            &.active {
                color: var(--text-color);
                font-weight: bold;
            }
        }
    }
    .sidebar-btn {
        height: 40px;
        width: 42px;
        position: relative;
        display: none;
        .bar {
            height: 6px;
            width: 100%;
            background-color: var(--primary-color);
            border: 1px solid var(--text-light);
            box-shadow: 0 1px 3px var(--shadow-color);
            border-radius: 5px;
            position: absolute;
            transition: transform getAnimationDuration(.4s) ease-in-out;
            &:nth-child(1){
                top: 0;
                transform: scaleX(0.65);
            }
            &:nth-child(2){
                top: 50%;
                transform: translateY(-50%);
            }
            &:nth-child(3){
                top: 100%;
                transform: scaleX(0.65) translateY(-100%);
            }
        }
        &.active {
           .bar {
            transform-origin: center;
            top: 50%;
            &:nth-child(1) {
                transform: translateY(-50%) rotate(45deg) ;
            }
            &:nth-child(2) {
                transform: scaleX(0);
            }
            &:nth-child(3) {
                transform: translateY(-50%) rotate(-45deg) ;
            }
           }
        }
    }
}
.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: var(--background-color);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.2),
                3px 0 5px var(--shadow-color);
    animation: getAnimationDuration(.3s) slideInLeft;
    z-index: 5;
    .sidebar-link {
        display: block;
        padding: 0.5em 1em;
        border-left: .4em solid transparent;
        margin-bottom: 1em;
        color: var(--text-color);
        font-size: 1.1em;
        transform: translateX(-100%);
        animation: getAnimationDuration(.3s) slideInLeft forwards;
        @for $i from 1 through 4{
            &:nth-child(#{$i}){
                animation-delay: #{$i * 0.1}s;
            }
        }
        &.active{
            border-color: var(--primary-color);
        }
        &:hover {
            border-color: var(--primary-color);
            background-color: rgba(0, 0, 0, 0.05);
        }
        svg {
            width: 1.5em;
            margin-right: .5em;
        }
    }
    .logo {
        height: 5em;
        width: 14em;
        margin: 1em 0;
        padding-left: 2em;
        padding-right: 4em;
        border-left: .4em solid transparent;
        transform: translateX(-100%);
        animation: getAnimationDuration(.3s) slideInLeft forwards;
        &.active{
            border-color: var(--primary-color);
        }
        &:hover {
            border-color: var(--primary-color);
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}
.footer {
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    .footer-section{
        p {
            opacity: 0.9;
            margin-bottom: 0.5em;
        }
        p.title {
            opacity: 1;
            font-size: 1.1em;
            font-weight: bold;
            margin-bottom: 1em;
        }
        .logo {
            height: 5em;
            width: 7.5em;
        }
        
    }
    
}
.email, .social {
            color: var(--text-color);
        }
.copy {
        text-align: center;
        font-size: 0.6em;
        background-color: var(--background-color);
        padding: 2em;
}

.container {
    padding-inline: 25vw;
}
@import "partials/animations";

@media screen and (max-width: 1280px) {
    .container {
        padding-inline: 18vw;
    }
}
@media screen and (max-width: 1050px) {
    .container {
        padding-inline: 12vw;
    }
}
@media screen and (max-width: 768px){
    .navbar{
        .nav-links {
            display: none;
        }
        .sidebar-btn {
            display: block;
        }
        .logo {
            &.hidden {
                display: none;
            }
        }
    }
    .container {
        padding-inline: 6vw;
    }
    .footer {
        grid-template-columns: repeat(4, 1fr);
        .footer-section:nth-child(1) {
            grid-column: span 2;
        }
        .footer-section:nth-child(2) {
            grid-column: span 2;
        }
        .footer-section:nth-child(3) {
            grid-column: span 4;
        }
    }
    .copy {
        text-align: left;
    }
}
@media screen and (max-width: 480px) {
    .container {
        padding-inline: 3vw;
    }
}